:root {
  font-size: 16px;
  --text-primary: #333;
  --text-secondary: #ececec;
  --cmich-maroon: #6a0032;
  --bg-primary: #3f001f;
  --bg-secondary: #d7a404;
  --nav-primary: #eee;
  --nav-secondary: #ccc;
  --transition-speed: 600ms;
}

body {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 0.75rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
  background: var(--bg-secondary);
}

#root {
  margin-top: -21px;
  padding: 0;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: hidden;

  top: 0;
  width: 7rem;
  height: 100vh;
  z-index: 999;
}

.navbar:hover {
  width: 20rem;
}

.navbar:hover .link-text {
  display: inline;
}

.navbar:hover .brand-text {
  left: 5rem;
}

.navbar:hover .nav_logo {
  color: var(--text-primary);
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 7rem;
  color: var(--nav-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-primary);
}

.nav-active {
  filter: grayscale(0%) opacity(1);
  background: var(--cmich-maroon);
  color: #fff;
}

.nav-link .material-icons {
  width: 2rem;
  min-width: 2rem;
  margin: 0 2.3rem;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-brand {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: var(--nav-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.brand-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
  color: var(--text-primary);
}

#page-content{
  max-width: 80vw;
  padding-left: 7rem;
  margin: auto;
}

#page-header {
  text-align: center;
  margin-top: 8%;
}

#country_chart.loading {
  opacity: 0;
}

#country_chart {
  position: static;
  width: 100%;
  height: 90vh;
  margin: auto;
}

.ecoFootprintLoading {
  position: absolute;
  left: 50%;
  top: 20%;
}

.loadingSVG {
  margin:auto;
  background:#fff;
  display:block;
}

.loadingText {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--cmich-maroon);
}

.inline-link {
  color: var(--cmich-maroon);
  font-weight: bold;
}

/* Per Capita Switch*/
#capita-container {
  position: absolute;
  top: 0;
  right: 0;
}

ul#capita-checkbox {
  list-style: none;
  padding: 20px;
}

ul#capita-checkbox li {
  display: inline;
}

ul#capita-checkbox li label {
  display: inline-block;
  background-color: var(--cmich-maroon);
  border: 2px solid rgba(139, 139, 139, .3);
  color: #eee;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 3px;
  user-select: none;
  transparent: all .2s;

  padding: 8px 12px;
  cursor: pointer;
  line-height: 30px;
}

ul#capita-checkbox li label::before {
  display: inline-block;
  font-size: 30px;
  line-height: 30px;
  padding: 2px 6px 12px 2px;
  position: relative;
  top: 2px;
  content: "\002B";
  transition: transform .3s ease-in-out;
}

ul#capita-checkbox li input:checked + label::before {
  content: "\2713";
  transform: rotate(-360deg);
  font-size: 30px;
  transition: transform .3s ease-in-out;
}

ul#capita-checkbox li input:checked + label {
  border: 2px solid var(--bg-secondary);
  background-color: #ffc82e;
  color: #333;
  transition: all .2s;
}

ul#capita-checkbox li input {
  position: absolute;
  opacity: 0;
}
