.table-table {
  width: 95%;
  margin: 0 auto;
}

.table-table tr {
  text-align: left;
  transition: all .2s;
}

.table-tableHeader {
  background-color: #6a0032;
  color: #fff;
  border-bottom: 3px solid #d7a404;

  position: sticky;
  top: 0;
}

.table-table tr:nth-child(odd) {
  background-color: #eee;
  color: #333;
}

.table-table tr:nth-child(even) {
  background-color: #ccc;
  color: #333;
}

.table-table tr:hover {
  background-color: #fee4bb;
}

.table-table th,
.table-table td {
  padding: 8px;
}

.table-link {
  color: #6a0032;
  font-weight: bold;
  float: right;
  cursor: pointer;
}

.table-link:hover {
  text-decoration: underline;
}
